<!DOCTYPE html>
<html>
<div class="web">
<h1>
	About Read Me
</h1>
</div
<p></p>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <!-- <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Mobile-first</h2>
      <p>Tablets, phones, laptops. The new 3 promises to be mobile friendly from the start.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>One Fluid Grid</h2>
      <p>There is now just one percentage-based grid for Bootstrap 3. Customize for fixed widths.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div> -->
    <!-- <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>LESS is More</h2>
      <p>Improved support for mixins make the new Bootstrap 3 easier to customize.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
  </div> --><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag "family8.jpg", size: "512x512", alt: "familypic", id: "fampic", class: "featurette-image img-circle pull-right" %>
    <h2 class="featurette-heading">Story Time. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">Reading to your child builds an educational bond that fosters a continued curosity for learning.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    
    <%= image_tag "family6.jpg", size: "512x512", alt: "familypic", id: "fampic", class: "featurette-image img-circle pull-left" %>
    <h2 class="featurette-heading"> Game Time. <span class="text-muted">Join in!</span></h2>
    <p class="lead">Share in the things that your child enjoys, play games with them, so they will inturn read with you.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag "family1.jpg", size: "512x512", alt: "familypic", id: "fampic", class: "featurette-image img-circle pull-right" %>
    <h2 class="featurette-heading">And lastly, be a parent. <span class="text-muted">That's apparent.</span></h2>
    <p class="lead">Being a present force in your childs life during the developmental years builds strong educational norms that stick with them for life.</p>
  </div>

  <hr class="featurette-divider">
</body>
  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    
  </footer>

</div><!-- /.container -->
</html>