<footer class="footer">
	<small>
		The <a href="http://childliteracy.org">Child Literacy Initiative</a>
  </small>
  <nav>
  	<ul>
  		<li><%= link_to "About", about_path %></li>
  		<li><%= link_to "Register", root_path %></li>
  		<li><%= link_to "Post", microposts_path %></li>
      <!-- <li><a href="http://news.railstutorial.org/"></a></li> -->
    </ul>
  </nav>
</footer>